body {
  background-image: url("https://images.unsplash.com/photo-1595329254244-578b995e50ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=582&q=80");
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
}
